{% extends "base.html" %}

{% block title %}Manage Project{% endblock %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <fieldset>
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.about.label(class="form-label") }}
                {% if form.about.errors %}
                {{ form.about(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.about.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.about(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-check mb-3">
                {{ form.personal(class="form-check-input") }}
                {{ form.personal.label(class="form-check-label") }} 
                <small> [ is the project a personal project or company project ]</small>
            </div>
            <div class="form-check mb-3">
                {{ form.group_project(class="form-check-input") }}
                {{ form.group_project.label(class="form-check-label") }}
                <small> [ is the project a group project or self project ]</small>
            </div>
        </fieldset>

        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock %}