{% extends "base.html" %}

{% block title %}Add User to Project{% endblock %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <input type="hidden" name="project_id" value="{{ project_id }}">
        <fieldset>
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.role.label(class="form-label") }}
                <div class="input-group">
                    <select name="{{ form.role.name }}" class="form-select {% if form.role.errors %}is-invalid{% endif %}">
                        <option value="" selected disabled>Select a role</option>
                        {% for value, label in form.role.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.role.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.role.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </fieldset>

        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock %}