{% extends "base.html" %} 
{% block title %}Bug Description{% endblock %} 
{% block content%}
<h1>This is the Bug Description page</h1>
{% if user.is_authenticated %}
  <article>
    <img src="{{ url_for('static', filename='profile_pics/' + bug.bug_adder.image_file) }}">
    <div>
      <div>
        <a href="{{ url_for('views.user_bugs', first_name=bug.bug_adder.first_name) }}">{{ bug.bug_adder.first_name }}</a>
        <small>{{ bug.date.strftime( '%Y-%m-%d' ) }}</small>
        {% if bug.bug_adder == user %}
          <div>
            <a href="{{ url_for('views.update_bug', bug_id=bug.id) }}">Edit</a>
            <a href="{{ url_for('views.delete_bug', bug_id=bug.id) }}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2>{{ bug.title }}</h2>
      <p>{{ bug.desc }}</p>
    </div>
  </article>
{% else %}
  <h1>Welcome, Guest</h1>
    <a href="/login">Login</a>
    <a href="/sign-up">Sign Up</a>
{% endif %}
{% endblock %}