{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
{% if user.is_authenticated %}
  <article>
    <img src="{{ url_for('static', filename='profile_pics/' + bug.bug_adder.image_file) }}">
    <h2>{{ bug.title }}</h2>
    <p>{{ bug.desc }}</p>
    <p>{{ bug.date.strftime('%Y-%m-%d') }}</p>
    <small>
{{ bug.bug_adder.first_name }}
    </small>
  </article>
{% else %}
  <h1>Welcome, Guest</h1>
    <a href="/login">Login</a>
    <a href="/sign-up">Sign Up</a>
{% endif %}
{% endblock %}