{% extends "base.html" %} 

{% block title %}Bug Description{% endblock %} 

{% block content%}

<div class="container">
  <h1 class="mt-5 mb-4">This is the Bug Description page</h1>

  {% if user.is_authenticated %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata mb-3">
          <h5>{{ bug.user_assigned.first_name }}</h5>
            <div>
              <a class="btn btn-secondary btn-sm me-1" href="{{ url_for('bugs.update_bug', bug_id=bug.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        </div>
        <h2 class="article-title">{{ bug.title }}</h2>
        <p class="article-content">{{ bug.about }}</p>
        <h4>{{ bug.priority }}</h4>
        <h4>{{ bug.bug_status }}</h4>
      </div>
    </article>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Bug?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('bugs.delete_bug', bug_id=bug.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <h1 class="mt-5 mb-4">Welcome, Guest</h1>
    <a class="btn btn-secondary btn-sm me-1" href="/login">Login</a>
    <a class="btn btn-secondary btn-sm" href="/sign-up">Sign Up</a>
  {% endif %}
</div>

{% endblock %}