{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block content %}

<h1 align="center">Bugs</h1>

<ul class="list-group list-group-flush" id="bugs">
    {% for bug in user.bugs %}
        <li class="list-group-item">
            {{ bug.text }}
        </li>
    {% endfor %}
</ul>

<button id="add-bug-btn" type="button" class="btn btn-primary">Add New Bug</button>

<div id="new-bug-form" style="display: none;">
    <form method="POST">
        <textarea name="bug" id="bug" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Submit Bug</button>
        </div>
    </form>
</div>

<script>
    document.getElementById("add-bug-btn").addEventListener("click", function() {
        document.getElementById("new-bug-form").style.display = "block";
    });
</script>

{% endblock %}