{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block content %}

<h1>Bugs</h1>

<ul class="list-group list-group-flush">
    {% for bug in user.bugs %}
        <li class="list-group-item">{{ bug.text }}</li>
    {% endfor %}
</ul>

<button id="add-bug-btn">Add New Bug</button>

<div id="new-bug-form" style="display: none;">
    <form method="POST">
        <textarea name="bug" id="bug"></textarea>
        <br />
        <button type="submit">Submit Bug</button>
    </form>
</div>

<script>
    // Attach event listener to "Add New Bug" button
    document.getElementById("add-bug-btn").addEventListener("click", function() {
        // Toggle the visibility of the form
        const newBugForm = document.getElementById("new-bug-form");
        newBugForm.style.display = newBugForm.style.display === "none" ? "block" : "none";
    });
</script>

{% endblock %}
