{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
<h1>This is the Home page</h1>
{% if user.is_authenticated %}
  <h1>Welcome, {{ user.username }}</h1>
  <a href="/add-bug">Add Bugs</a>
  {% for bug in bugs %}
    <article>
      <img src="{{ url_for('static', filename='profile_pics/' + bug.bug_adder.image_file) }}">
      <div>
        <div>
          <a href="#">{{ bug.bug_adder.first_name }}</a>
          <small>{{ bug.date.strftime( '%Y-%m-%d' ) }}</small>
        </div>
        <h2><a href="{{ url_for('views.get_bug', bug_id=bug.id) }}">{{ bug.title }}</a></h2>
        <p>{{ bug.desc }}</p>
      </div>
    </article>
  {% endfor %}
{% else %}
  <h1>Welcome, Guest</h1>
    <a href="/login">Login</a>
    <a href="/sign-up">Sign Up</a>
{% endif %}
{% endblock %}