{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}
<h1>This is the Home page</h1>
{% if user.is_authenticated %}
  <h1>Welcome, {{ user.username }}</h1>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="url_for('bugs.add_bug')">Add Bugs</a>
  {% for bug in bugs.items %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + bug.bug_adder.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('bugs.user_bugs', first_name=bug.bug_adder.first_name) }}">{{ bug.bug_adder.first_name }}</a>
          <small class="text-muted">{{ bug.date.strftime('%Y-%m-%d') }}</small>
          {% if bug.bug_adder == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('bugs.update_bug', bug_id=bug.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title"><a href="{{ url_for('bugs.get_bug', bug_id=bug.id) }}">{{ bug.title }}</a></h2>
        <p class="article-content">{{ bug.desc }}</p>
      </div>
    </article>
  {% endfor %}
  {% for page_num in bugs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if bugs.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}"><b>{{ page_num }}</b></a>
      {% else %}
        <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  {% if bugs.has_next %}
    <a href="{{ url_for('main.home', page=bugs.next_num) }}">Next</a>
  {% endif %}
  {% if bugs.has_prev %}
    <a href="{{ url_for('main.home', page=bugs.prev_num) }}">Prev</a>
  {% endif %}
{% else %}
  <h1>Welcome, Guest</h1>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/login">Login</a>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/sign-up">Sign Up</a>
{% endif %}
{% endblock %}