{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <fieldset>
      <legend>Log In</legend>

      <div>
        {{ form.email.label }}
        {% if form.email.errors %}
          {{ form.email(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email }}
        {% endif %}
      </div>

      <div>
        {{ form.password.label }}
        {% if form.password.errors %}
          {{ form.password(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password }}
        {% endif %}
      </div>

      <div class="form-check">
        {{ form.remember }}
        {{ form.remember.label }}
      </div>

    </fieldset>

    <div>
      {{ form.submit }}
    </div>
    <small class="text-muted ml-2">
      <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>

    </small>
  </form>

  <div>
    Need An Account? <a href="{{ url_for('users.register') }}">Sign Up</a>
  </div>
</div>

{% endblock %}
