{% extends "base.html" %} 

{% block title %}Project Description{% endblock %} 

{% block content%}

<div class="container">
  <h1 class="mt-5 mb-4">This is the Project Description page</h1>

  {% if user.is_authenticated %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata mb-3">
          <small class="text-muted">{{ project.created_at.strftime('%Y-%m-%d') }}</small>
          {% if project.manager() == user %}
            <div>
              <a class="btn btn-secondary btn-sm me-1" href="{{ url_for('projects.update_project', project_id=project.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ project.name }}</h2>
        <p class="article-content">{{ project.about }}</p>
        {% if project.group_project %}
          <p class="article-content">This is a group project</p>
          <h4>Manager</h4>
          <p class="article-content">{{ project.manager().first_name }}</p>
          <h4>Members</h4>
          <ul>
            {% for member in project.get_all_users() %}
            {% if member != project.manager() %}
              <li>{{ member.first_name }} - {{ member.get_role(project.id) }}</li>
              {% if project.manager() == user %}
              <div>
                <a class="btn btn-secondary btn-sm me-1" href="{{ url_for('projects.update_user_role', project_id=project.id, user_id=member.id) }}">Update Role </a>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmRemoveModal{{ member.id }}">
                  Remove {{ member.first_name }}
                </button>
              </div>
                
                <!-- Confirmation Modal for Removing Member -->
                <div class="modal fade" id="confirmRemoveModal{{ member.id }}" tabindex="-1" aria-labelledby="confirmRemoveModal{{ member.id }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmRemoveModal{{ member.id }}Label">Remove {{ member.first_name }} from project?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{ url_for('projects.remove_user_from_project', project_id=project.id, user_id=member.id) }}" method="POST">
                          <input class="btn btn-danger" type="submit" value="Remove">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
              {% endif %}
          {% endif %}
          </ul>
          {% endfor %}
        {% else %}
          <p class="article-content">This is an individual project</p>
        {% endif %}

        <h2>Bugs</h2>
        <ul>
          {% for bug in project.get_all_bugs() %}
          <li>
            <small><a href="{{ url_for('bugs.user_bugs', user_id=user.id) }}">{{ bug.assigned_user.first_name }}</a></small>
            <br>
            <a href="{{ url_for('bugs.get_bug', bug_id=bug.id) }}">{{ bug.title }}</a> - {{ bug.priority }}
            <div>
              <a class="btn btn-secondary btn-sm me-1" href="{{ url_for('bugs.update_bug', bug_id=bug.id) }}">Update Bug</a>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ bug.id }}">
                Delete Bug
              </button>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- Delete Modal -->
        {% for bug in project.get_all_bugs() %}
        <div class="modal fade" id="deleteModal{{ bug.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ bug.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ bug.id }}">Delete Bug?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('bugs.delete_bug', bug_id=bug.id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <br>
        <br>
        <br>
          <a class="btn btn-secondary btn-sm me-1" href="{{ url_for('bugs.add_bug', project_id=project.id) }}">Add Bug</a>
        {% if project.manager() == user %}
        <a class="btn btn-secondary btn-sm" href="{{ url_for('projects.add_user_to_project', project_id=project.id) }}">Add User</a>
        {% endif %}
      </div>
    </article>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Project?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('projects.delete_project', project_id=project.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <h1 class="mt-5 mb-4">Welcome, Guest</h1>
    <a class="btn btn-secondary btn-sm me-1" href="/login">Login</a>
    <a class="btn btn-secondary btn-sm" href="/sign-up">Sign Up</a>
  {% endif %}
</div>

{% endblock %}